@charset "UTF-8";

/* fonts */

@font-face {
    font-family: 'Ordner';
    src: url(../fonts/ordner.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Condensed';
    src: url(../fonts/helvetica-condensed.ttf) format('truetype');
}

/* setup */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black url(../images/main-background.png) top center / cover no-repeat;
}

/* sign-up section */

main section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 420px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    overflow: auto;
}

section div#image {
    position: relative;
    height: 120px;
    background: black url(../images/form-background.png) top left / cover no-repeat;
}

section div#image img#logo {
    position: relative;
    top: 25%;
    left: 10%;
    width: 50%;
}

section div#form h1 {
    color: red;
    font-family: 'Ordner';
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

section div#form hr {
    margin: 10px auto 20px auto;
}

section div#form form, input {
    font-family: 'Helvetica Condensed';
}

section div#form div.field {
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
}

div.field > input {
    width: calc(100% - 56px);
    height: calc(100% - 15px);
    transform: translateY(-12px);
    padding: 5px;
    border-radius: 10px;
}

section div#form span.material-symbols-outlined {
    height: 100%;
    margin: 5px 0px 5px 5px;
    color: white;
    font-size: 2em;
}

section div#form label {
    display: none;
}

p#forgot-password > a {
    color: red;
    text-decoration: none;
}

p#forgot-password > a:hover {
    text-decoration: underline;
}

p#forgot-password {
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
}

div#form input[type='submit'] {
    display: block;
    width: 90%;
    height: 45px;
    margin: 20px auto 0px auto;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: red;
    font-size: 1.5em;
    cursor: pointer;
}

div#form input[type='submit']:hover {
    background-color: hsl(0, 100%, 35%);
}

/* footer */

footer {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: 40px auto;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}